.features {
    @include section(60px, 60px);

    @media screen and (min-width: $breakpoint_desktop) {
        @include section(94px, 94px);
        padding-bottom: 0;
    }
}

.features__list {
    @media screen and (min-width: $breakpoint_tablet) and (max-width: ($breakpoint_desktop - 1)) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: $breakpoint_desktop) {
        display: flex;
    }
}

.features__item {
    @media screen and (max-width: ($breakpoint_tablet - 1)) {
        &:not(:first-child) {
            margin-top: 30px;
        }
    }

    @media screen and (min-width: $breakpoint_tablet) and (max-width: $breakpoint_desktop) {
        width: 354px;
        height: 224px;
    }

    @media screen and (min-width: $breakpoint_desktop) {
        &:not(:first-child) {
            margin-left: 30px;
        }
    }
}

.features__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;

    background-color: $background_second_color;
    border-radius: 4px;

    @media screen and (max-width: ($breakpoint_mobile - 1)) {
        width: auto;
    }

    @media screen and (min-width: $breakpoint_mobile) {
        width: 450px;
    }

    @media screen and (min-width: $breakpoint_tablet) {
        width: 354px;
    }

    @media screen and (min-width: $breakpoint_desktop) {
        width: 270px;
    }
}

.features__heading {
    margin-top: 30px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $heading_text_color;

    @media screen and (max-width: $breakpoint_tablet) {
        text-align: center;
    }
}

.features__text {
    margin-top: 10px;

    font-size: 14px;
    line-height: 1.71;
}