.logo {
  @extend %link;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  color: $accent_color;

  @media screen and (min-width: $breakpoint_desktop) {
    font-size: 26px;
    line-height: 1.19;
  }

}

.logo__dark {
  color: $black_text_color;
}

.logo__light {
  color: $white_text_color;
}