.team {
    @extend %section;
    background: $background_team;
}

.section-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: $heading_text_color;
}

.team__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.team__item {
    display: flex;
    flex-direction: column;

    background: $background_color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__footer {
    padding: 30px 32px;
}

.team__username {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: $heading_text_color;
}

.team__speciality {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: $main_text_color;
}

.team__icon {
    display: flex;
    justify-content: space-between;

    margin-top: 16px;
}

.team__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    transition: fill $animation-duration $animation-ttf, background-color $animation-duration $animation-ttf;

    fill: $icon_color;
    border-radius: 50%;

    &:hover,
    &:focus {
        fill: $background_color;
        background-color: $accent_color;
    }
}

