@mixin section ($padding-top, $padding-bottom) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

%link {
  text-decoration: none;
}

.container {
  max-width: $breakpoint_mobile - 1;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $breakpoint_mobile) {
    max-width: $breakpoint_mobile;
  }

  @media screen and (min-width: $breakpoint_tablet) {
    max-width: $breakpoint_tablet;
  }

  @media screen and (min-width: $breakpoint_desktop) {
    max-width: $breakpoint_desktop;
  }
}

body {
  font-family: $main_font;
  letter-spacing: 0.03em;

  color: $main_text_color;
  background-color: $background_color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// semantic hidden header
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

// section heading
.section-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  color: $heading_text_color;

  @media screen and (min-width: $breakpoint_desktop) {
    font-size: 36px;
    line-height: 1.17;
  }
}