// Colors
$accent_color: #2196f3;
$black_text_color: #000000;
$main_text_color: #757575;
$white_text_color: #ffffff;
$button_hover_color: #188ce8;
$button_filter_background: #f5f4fa;
$hero_footer_background: #2f303a;
$heading_text_color: #212121;
$background_color: #ffffff;
$background_second_color: #F5F4FA;
$background_team: #f5f4fa;
$icon_color: #AFB1B8;

// Animation
$animation-duration: 250ms;
$animation-ttf: cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
$main_font: "Roboto", sans-serif;

// Breakpoints
$breakpoint_mobile: 480px;
$breakpoint_tablet: 768px;
$breakpoint_desktop: 1200px;